
/* Form styles */

.container{

    max-width: 480px;
    margin: auto;
    padding: 30px;
    background-color:#4a59e4;
    align-content: center;
}

.hidden-label {
    position: absolute;
    height:0;
    width: 0;
    overflow: hidden;
    visibility: hidden;

}

/* Form styles */
input[type="email"],
input[type="text"],
input[type="password"],
input[type="telephone"],
input[type="submit"]
 {
    width: 100%;
    display: block;
    height: 30px;
    box-sizing: border-box;
    font-family: tahoma,sans-serif;
    font-size:100%;
    margin-bottom: 10px;
    border: 1px solid #cdcdcd         

} 
