h1 {
  color: orange;
  text-align: center;
}

h1 {
  font-size: 165%;
}

body {
  color: green;
}
p {
  color: #FFF;
}

body {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  padding-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Main Column Typography */
.main-area h2 {
  font-size: 165%;
  font-weight: normal;
}

.section {
  padding-left: 40px;
  padding-right: 40px;
}

.container {
  max-width: 960px; 
  margin: 0 auto;
  text-overflow: inherit;
}

/*
@media screen and (min-width: 1280px) {
	
	body {
		font-size: 16px;
	}
	
	.container {
		max-width: 960px;
	}
	
}
*/

@media screen and (max-width: 767px) {
  .section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

header {
  padding-top: 20px;
  color: #fff;
  background-color: #405c71;
}

header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 165%;
}

header p {
  font-size: 90%;
  margin: 0;
}

/* Site Navigation */

.site-nav {
  margin-top: 5px;
}

.site-nav ul {
  margin: 0;
  padding: 0;
}

.site-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

.site-nav a {
  display: block;
  color: #fff;
  padding: 10px 10px;
  background-color: #365267;
  transition-property: color, background-color;
  transition-duration: 2s;
}

.site-nav a:hover {
  background-color: white;
  color: red;
}

.site-nav a:hover {
  background-color: #2c465a;
}

@media screen and (max-width: 1023px) {
  .site-nav li {
    width: 33.332%;
    margin-right: 0;
  }

  .site-nav a {
    padding: 15px 0;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .site-nav li {
    width: 50%;
  }
}

/* End Site Navigation */

.content-area {
  background-color: #fff;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  .content-area {
    padding-top: 20px;
  }
}

.main-area {
  width: 66%;
  float: left;
  padding-right: 40px;
  box-sizing: border-box;
}

.sidebar {
  color: #999;
  font-size: 85%;
}

.sidebar h3 {
  font-size: 138.5%;
  margin-bottom: 7px;
}

.info-box {
  background-color: #efeedb;
  border: 5px solid #e6e5c2;
  padding: 20px 40px 7px 40px;
  margin-bottom: 1em;
}

@media screen and (max-width: 767px) {
  .hide-small {
    display: none;
  }
}

.image-banner {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}

.image-banner img {
  display: block;
  transition: all 2s;
}

.image-banner:hover img {
  transform: scale(1.5);
}

.banner-description {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  transition-property: all;
  transition-duration: 1s;
  transform: translateY(100%);
}

.banner-description {
  text-align: center;
  color: #fff;
  display: inlin e-block;
}

.image-banner:hover .banner-description {
  opacity: 1;
  transform: translateY(0);
}

/* Bounce Animation */
@keyframes Family {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  30% {
    opacity: 1;
    transform: translateY(5);
  }

  60% {
    transform: translateY(10);
  }

  90% {
    transform: translateY(15);
  }

  80% {
    transform: translateY(20);
  }

  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

/* End Bounce Animation */

.box-a {
  opacity: 0;
  animation: Family 1s forwards;
  background-color: #e7eff5;
  padding: 20px 20px 20px 20px;
  border: 2px solid #0c548b;
  margin-bottom: 30px;
  box-shadow: inset 2px 10px 5px rgba(0, 0, 0, 0.5),
    2px 10px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 2rem;
  color: white;
}

.boxes :nth-child(1) .box-a {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.boxes :nth-child(2) .box-a {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.boxes :nth-child(3) .box-a {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

.boxes :nth-child(4) .box-a {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.box-f {
  animation-name: Family;
  text-align: center;
  background-color: rgb(18, 154, 233);
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
  border-radius: 50%;
  transition: all 1s ease-in;
}

/* Slideshow Styles*/
.cycle-slideshow {
  margin-bottom: 30px;
}


.slide {
  width: 100%;
  position: relative;
}

.slide img {
  display: block;
}

.slide-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  width: 52%;
  padding: 10px;
  box-sizing: border-box;
}

.slide-text h1 {
  margin: 0;
}

/*Prev and Next Buttons*/
.cycle-prev, .cycle-next  {
  position: absolute;
  top: 30%;
  background-color: rgba(0, 0, 0, .35);
  color: #FFF;
  padding: 1px 10px;
  display: block;
  cursor: pointer;
  font-size: 130%;
  z-index: 1000;
  opacity: 1;
}

.cycle-next {
  top:50%;
  right:0;
}


.cycle-slideshow:hover .cycle-prev
.cycle-slideshow:hover .cycle-next {
  opacity: 1;
}


.box-f:hover {
  transform: rotate(360deg);
}

/* Star Animation */
/* Star Animation */
@-webkit-keyframes slideSpin {
  50% {
    transform: translateX(150%) scale(0.5);
  }

  75% {
    transform: translateX(150%) rotate(180deg) scale(0.5);
  }

  100% {
    transform: translateX(300%) rotate(180deg);
  }
}

@keyframes slideSpin {
  50% {
    transform: translateX(150%) scale(0.5);
  }

  75% {
    transform: translateX(150%) rotate(180deg) scale(0.5);
  }

  100% {
    transform: translateX(300%) rotate(180deg);
  }
}

.star {
  -webkit-animation: slideSpin 2s infinite alternate forwards;
  animation: slideSpin 2s infinite alternate forwards;
  width: 25%;
  height: auto;
}
