/* Full-width input fields */
input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid rgb(19, 152, 192);
    box-sizing: border-box;
  }

  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid rgb(32, 163, 20);
    box-sizing: border-box;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid rgb(32, 163, 20);
    box-sizing: border-box;
  }

  .btn {
    border: none;
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
  }

  .Resend OTP {background-color: #4CAF50;}
.Resend OTP:hover {background-color: #0e99cf;}


.hidden-label {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}